<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add New Item</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %> 
    <main>
      <h1>Add New Item to Pantry</h1>
      <form action="/users/<%= user._id %>/foods" method="POST">
        <label for="name">Food Name:</label>
        <input type="text" name="name" id="name" required />
        <button type="submit">Add Item</button>
      </form>
      <a href="/users/<%= user._id %>/foods">Back to Pantry</a>
    </main>
  </body>
</html>
